# Ignore all .log files
*.log

# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore build directories
/build/
/dist/

# Ignore MacOS system files
.DS_Store

# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore IDE project files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
